{# this file is not actually used by this role, since unison sync handles it #}
{
   "catalogs": [
     {
       "title": "Calibre Web",
       "uri": "https://{{ hostinfo.luxor.calibre }}/opds",
       "preview": "https://{{ hostinfo.luxor.calibre }}/opds/discover"
     },
     {
       "title": "Standard Ebooks",
       "uri": "https://standardebooks.org/opds",
       "preview": "https://standardebooks.org/opds/all"
     },
     {
       "title": "Feedbooks",
       "uri": "https://catalog.feedbooks.com/catalog/index.atom",
       "preview": "https://catalog.feedbooks.com/publicdomain/browse/awards.atom?lang=en"
     },
     {
       "title": "Project Gutenberg",
       "uri": "https://m.gutenberg.org/ebooks.opds/",
       "preview": "https://www.gutenberg.org/ebooks/search.opds/?sort_order=random"
     }
   ]
 }
